<body>
<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
        <div class="name">
          <h3>Christopher Knight</h3>
          <ul>
            <li><a href="https://github.com/SerKnight", style="color: #CC0000", target="_blank">Github</a>  
             <li><a href="http://www.linkedin.com/profile/view?id=73950402&trk=hb_tab_pro_top", style="color: #CC0000", target="_blank">LinkedIn</a>  
              <li><a href="http://www.youtube.com/user/EditApartMentality", style="color: #CC0000", target="_blank">YouTube</a>   
        </div>
    <h3>Im a Rails developer</h3>
      <ul><strong>Looking for work in</strong></ul>
        <li>Denver</li>
        <li>Seattle, Portland</li>
        <li>Austen</li>
        <li>LA, SanFran</li>  
    <div class="toph">
      <%= image_tag "toph.jpg", :size => "200x200 "%>
    </div>
  </div>
  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Web Development</h2>
      <p>I am currently a <a href="http://www.gschool.it/", style="color: #CC0000">gSchool</a> student in Denver Colorado =>  a 6-month intensive Ruby on Rails course. My skills encompass mainly Ruby, Rails, html/css, and jQuery.</p><hr/>
      I am looking for a place to work with a skilled team of developers, with a culture that promotes constant learning. I am a 'junior' dev as many people call it, but I have the skills and aptitude to really contribute to a full-stack team.
    </div>
    <div class="span5">
      <h2>Travel and Film</h2>
       <p>My other passions. Before setting off on a web-dev career path I ran a travel video blog at <a href="http://www.nomadicknight,com", style="color: #CC0000">Nomadic Knight.com</a>. I beleive travel is the only thing you can buy that makes you richer, and I see the potential to really help people working as a web developer such as solving business problems through creative software.</p>
   </div>
  </div>
</div> <!-- /container -->

</body>
</html>