<body>
<div class="container">
  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
        <div class="name">
          <h3 class="name">Christopher Knight</h3>
          <ul>
            <li><a href="https://github.com/SerKnight", style="color: #CC0000", target="_blank">Github</a>  
             <li><a href="http://www.linkedin.com/profile/view?id=73950402&trk=hb_tab_pro_top", style="color: #CC0000", target="_blank">LinkedIn</a>  
              <li><a href="http://www.youtube.com/user/EditApartMentality", style="color: #CC0000", target="_blank">YouTube</a>   
        </div>
    <h3>Im a Rails developer</h3>
      <ul><strong>Looking for work in</strong></ul>
        <li>Denver</li>
        <li>Seattle, Portland</li>
        <li>Austen</li>
        <li>LA, SanFran</li>  
    <div class="toph">
      <%= image_tag "toph.jpg", :size => "400x400"%>
    </div>
  </div>
  <!-- Example row of columns -->
  <div class="row">
    <div class="span6">
      <h2>Web Development</h2>
      <p>I am currently a <a href="http://www.gschool.it/", style="color: #CC0000">gSchool</a> student in Denver Colorado =>  a 6-month intensive Ruby on Rails course. I am focusing on learning Ruby, Rails, html/css, jQuery, with an emphasis on agile development and working in big teams to deliver MVP's and polished applications.</p><hr/>
      I am looking for a place to work with a skilled team of developers in a culture that promotes constant learning. I am a 'junior' dev as many people call it, but I have the motivation and aptitude to really contribute to a full-stack team.<hr>
      <p>I have been tracking my web-development from the ground up if you are considering getting into the field here is a taste of what <a href="http://serknight.herokuapp.com/", target="_blank", style="color: #CC0000">code boot camp</a> feels like.
    </div>
    <div class="span5">
      <h2>Travel and Film</h2>
       <p>Before setting off on a web-dev career path I had a adventure travel video blog at <a href="http://www.nomadicknight.com", taget="_blank", style="color: #CC0000">Nomadic Knight.com</a>. Being able to travel a lot when I was young really opened my eyes to the realities of our world, and my ultimate goal as a web developer involves being able to help individuals and businesses solve their problems with creative software.</p>
   </div>
  </div>

</div> <!-- /container -->

</body>
</html>