
<div class="container">
  <div class="row">
    <div class="span12">
      <div class="root-header">
        <h2> Online Documentaries to Inspire Action</h2>
      </div>
    </div>
    <div class="span9">
        <h4><%= link_to @link.title.capitalize, links_path, { :class=>"home-link" } %></h4>
       <%= raw(@link.embed(@link.content)) %>
    </div>
    <div class="span3">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>What is Hacktivism</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Hactivism is the use of internet technology to promote free speech, human rights, and information ethics. <hr/> You will find inspiring videos that will connect you with outlets for action and activism.</td>
              </td>
            </tr>
        </tbody>
      </table>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>What you can do here</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <ol>
                  <li> You can watch the user submitted content <%= link_to "here", links_path, :style => 'color: red' %>. 
                      <li> You can submit meaningful content to the video collection <%= link_to "here", links_path, :style => 'color: red'  %>
                      <li> You can promote action via the charity & volunteer opportunities displayed by each video.</ol>
                      <hr/> 
                  </td>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

