<div class="container">
  <div class="row">
    <div class="span9">
      <div class="page-header">
        <h3> Online Documentaries to Inspire Action</h>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>What is Hacktavism</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Hactavism is the use of internet technology to promote free speech, human rights, and information ethics. It is also the name of THIS application - where we encourage you watch our embedded documentaries online, and find meaninful opportunities to ACT on these important movements. </td>
               
              </td>
            </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>What can I do to support</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>First : you can watch some of the user submitted content. </br> Second : you can use the reccomendations to find an outlet to give either your time or money. </br> Too often have I watched a great documentary film about only to shake it off with no action taken as soon as the credits roll. </td>
               
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="span3">
      <h2></h2>
      <p class="about"><%= image_tag "video.jpg" %></p>
    </div>
  </div>
</div>

