<div class="container">
  <div class="row">
    <div class="span9">
      <div class="page-header">
        <h3> Online Documentaries to Inspire Action</h>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>What is Hacktavism</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Hactavism is the use of internet technology to promote free speech, human rights, and information ethics. I encourage you watch the documentaries, and find meaninful opportunities to ACT on these important movements. </td>
               
              </td>
            </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>What can I do to support</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <ol>
                  <li> You can watch some of the user submitted content. 
                    <li> You can use the reccomendations to find an outlet to give either your time or money. 
                      <li> You can share this website with your friends, or family.</ol>  
                        <hr/> 
                  <p>Don't let your actions have little or no effect other than to make yourself feel some amount of satisfaction</p> </td>
               
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="span3">
      <h2></h2>
      <p class="about"><%= image_tag "video.jpg" %></p>
    </div>
  </div>
</div>

