
<div class="container">
  <div class="row">
    <div class="span9">
      <div class="page-header">
        <h3> Online Documentaries to Inspire Action</h>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>What is Hacktavism</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>Hactavism is the use of internet technology to promote free speech, human rights, and information ethics. <hr/> This site's intent is to connect you with outlets for action after you watch a video that strikes you as important.<hr/> I encourage you watch the documentaries and ACT on these the movements you find most important. </td>
               
              </td>
            </tr>
        </tbody>
      </table>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>What can you do to support</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>
                <ol>
                  <li> You can watch some of the user submitted content <%= link_to "here", links_path, :style => 'color: red' %>. 
                    <li> You can use the reccomendations to find an outlet to give either your time or money. 
                      <li> You can submit meaningful content to the video collection <%= link_to "here", links_path, :style => 'color: red'  %>
                      <li> You can share this website with your friends, or family.</ol>  
                        <hr/> 
                  </td>
               
              </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="span3">
      <h2></h2>
      <p class="about"><%= image_tag "video.jpg" %></p>
    </div>
<!-- <p class="world"><%= image_tag "internet.png" %></p> -->
  </div>
</div>

